@media only screen and (min-width: 320px) {

    @font-face {
        font-family: "Yumaro";
        src: url(Yumaro.otf);
    }

    /*SPLASH PAGE START*/

    body {
        padding: 15px;
        padding-top: 30px;
        background-color: #111111;
        background-image: url(media/background.png);
        background-size: 100%;
        color: white;
        font-family: "Roboto";
        font-weight: 100;
    }


    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }



    .mainpage {
        background-image: url(media/background.png);
        background-size: 100%;
    }

    .logo {
        width: 60%;
        padding-top: 30%;
    }

    #quote {
        font-size: 15px;
        font-style: italic;
    }

    p {
        color: white;
        font-family: "Roboto";
        font-weight: 100;
        font-size: 18px;
    }

    input {
        background-color: transparent;
        border: 2px #FAD25E solid;
        border-radius: 5px;
        height: 40px;
        width: 80%;
        color: white;
        padding-left: 10px;
        margin-bottom: 30Px;
        font-size: 20px;
        font-family: "Roboto";
        color: #FAD25E;
    }

    form input {
        margin-top: 4%;
        background: -webkit-linear-gradient(top, #233927 0%, #6a9857 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #233927 0%, #6a9857 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        border: none;
        font-family: "Yumaro";
        color: #FAD25E;
        border-radius: 40px;
        font-size: 20px;
        width: auto;

    }

    h3,
    h1 {
        font-family: "Yumaro";
    }


    h1 {
        font-size: 30px;
        text-shadow: 3px 3px #437D5A;
    }





    /*SPLASH PAGE ENDS*/

    /*WELCOME PAGE STARTS*/

    #welcomemap {
        width: 50%;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }



    #welcometitle {
        color: #FFD832;
        font-size: 18px;
        margin-top: -10px;
        font-family: "Roboto";
    }





    .welcomecontent {
        font-size: 15px;
        line-height: 1.3;
        text-align: justify;
    }

    #hello {
        font-size: 35px;
        text-shadow: 3px 3px #437D5A;
    }




    /*WELCOME PAGE ENDS*/

    /*GAMES PAGE STARTS*/

    #first {
        color: #FFD832;
        margin-top: -10px;
        margin-bottom: -10px;
    }

    .section {
        width: 45%;
        position: relative;
        display: inline-block;
        padding: 5px;
    }

    .section img {
        width: 100%;
        border-radius: 10px;
    }

    .back {
        background-color: transparent;
        border: none;
        color: #C42EAC;
        border-radius: 10px;
        font-family: "Yumaro";
        height: 20px;
        width: auto;
        font-size: 25px;
        position: absolute;
        margin-top: -4%;
        margin-left: -3%;
    }
    
    .home {
        background-color: transparent;
        border: none;
        color: #C42EAC;
        border-radius: 10px;
        font-family: "Yumaro";
        width: 9%;
        font-size: 25px;
        position: absolute;
        margin-top: -4%;
        margin-left: 82%;
    }

    nav {
        display: flex;
        flex-direction: row;
    }


    nav div {
        margin-left: auto;
        margin-right: auto;
    }


    .title {
        text-shadow: 3px 3px #437D5A;
        font-size: 30px;
        margin-bottom: 5%;
        margin-top: 6%;
    }

    .heading {
        color: #437D5A;
        font-size: 17px;
        margin-top: -30px;
        position: relative;
    }

    #first {
        color: #FFD832;
        display: block;
        font-size: 18px;
        font-weight: 400;
        margin-top: 2%;
        margin-bottom: -10px;
    }

    #second {
        display: block;
        font-family: "Yumaro";
        margin-bottom: -10px;
        font-size: 17px;
    }

    .heading2 {
        text-align: center;
    }

    /*GAMES PAGE ENDS*/

    /*MISSION PAGE STARTS*/

    .mission {
        color: #FFD832;
        text-align: left;
        display: block;
        font-size: 20px;
        padding-left: 10%;
        margin-top: 3%;

    }


    hr {
        float: left;
        width: 23%;
        border: 1px solid #FFD832;
        margin-left: 10%;
        margin-top: -6%;
    }

    .mission2 {
        display: block;
        font-family: "Yumaro";
        font-size: 20px;
        margin-top: -8%;
    }

    .titletwo {
        text-shadow: 3px 3px #437D5A;
        font-size: 30px;
        margin-top: -8%;
    }

    .game {
        width: 80%;
        max-width: 80%;
        position: relative;
        display: inline-block;
    }

    .game img {
        width: 100%;
    }

    .description {
        width: 80%;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        border: none;

    }

    .description p {
        font-family: "Roboto";
        color: #FFFFFF;
        text-align: justify;
        font-size: 15px;
        margin-top: -4%;
    }

    .mission3 {
        text-align: center;
    }

    .globe p {
        font-size: 13px;
        color: #FFD832;
        text-align: left;
        padding-left: 10%;
        margin-top: -1%;

    }

    .globeimg {
        vertical-align: middle;
        padding-top: ;
        width: 24%;
        padding-right: 10%;
    }

    .globe {
        display: flex;
        flex-direction: row;
    }




    /*MISSION PAGE ENDS*/

    /*INSTRUCTIONS PAGE STARTS*/


    #instructions p {
        vertical-align: middle;
    }

    .v {
        float: left;
        width: 8%;
        height: 8%;
        padding: 10px;
    }

    #stickers img {
        width: 10%;
        height: 10%;
    }

    #stickers {
        padding-top: 5%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }


    .headline img {
        width: 20px;
        float: left;
        padding-right: 5px;
    }

    .headline p {
        font-size: 20px;
        font-family: "Roboto";
        font-weight: 900;
        margin: 0;

    }

    .headline {
        display: inline-block;
        width: 100%;
        margin-bottom: 15px;
    }

    .descriptiontwo img {
        width: 50px;
        padding: 4px;
        padding-top: 10px;
        vertical-align: middle;

    }

    .descriptiontwo {
        padding-bottom: 20px;
        padding-left: 25px;
    }

    .descriptiontwo p {
        float: left;
        padding-bottom: 10px;
        font-size: 15px;


    }


    /*INSTRUCTIONS PAGE ENDS*/

    /*QUESTIONS PAGE STARTS*/

    .gamebody {
        background-image: none;
    }

    #number {
        font-size: 50px;
        text-shadow: 3px 3px #437D5A;
        font-family: "Yumaro";
        padding-left: 20px;
        padding-right: 5px;
    }

    #map {
        width: 8%;
    }

    #help {
        text-align: right;
        font-size: 15px;
    }

    #help em {
        color: #FFD832;
        font-style: normal;
        font-weight: 500;
    }

    #help img {
        padding: 10px;
        padding-top: 0;
    }


    #question {
        display: flex;
        flex-direction: row;
        padding-top: 5%;
    }

    #question p {
        font-size: 17px;
        text-align: left;
        margin: 10px;
        font-weight: bold;
    }

    #bird {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 3%;
    }

    #stickers {
        display: inline-block;
        margin-top: -3%;
        align-content: center;
        width: 100%;
        text-align: center;

    }

    #stickers img {
        width: 15%;
        height: 12%;
        padding: 10px;
        background-color: none;
        border-radius: 80px;
    }

    #stickers img:hover {
        background-color: #FFD832;
        transition-duration: 1s;
    }

    #circle {
        width: 20%;
        margin-top: 10%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .continue {
        display: none;
    }


    /*QUESTIONS PAGE END*/

    /*MAP PAGE START*/

    .close {
        background-color: transparent;
        border: none;
        color: #C42EAC;
        border-radius: 10px;
        font-family: "Yumaro";
        height: 40px;
        width: auto;
        font-size: 20px;
        position: absolute;
        margin-top: -5%;
    }

    .closing {
        width: 100%;
        display: block;
    }

    #botanicalgarden {
        width: 100%;
    }

    #botanicalgarden img {
        width: 100%;
    }

    /*MAP PAGE END*/

}
