@media only screen and (min-width: 320px) {

    /*SPLASH PAGE START*/

    body {
        padding: 40px;
        background-color: #111111;
        background-image:url(media/background.png);
        background-size: 100%;
        color: white;
        font-family: "Roboto";
        font-weight: 100;
    }


    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo {
        width: 60%;
        padding-top: 30%;
    }
    
     #quote {
        font-size: 35px;
    }
    p {
        color: white;
        font-family: "Roboto";
        font-weight: 100;
        font-size: 50px;
    }

    input {
        background-color: transparent;
        border: 3px #FAD25E solid;
        border-radius: 5px;
        height: 120px;
        width: 80%;
        color: white;
        padding-left: 10px;
        font-size: 40px;
        font-family: "Roboto";
        color: #FAD25E;
    }

    form input {
        margin-top: 15%;
        background: -webkit-linear-gradient(top, #233927 0%, #6a9857 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #233927 0%, #6a9857 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        border: none;
        padding: 20px;
        font-family: "Yumaro";
        color: #FAD25E;
        border-radius: 40px;
        font-size: 50px;
        width: auto;

    }

    h3,
    h1 {
        font-family: "Yumaro";
    }


    h1 {
        font-size: 30px;
        text-shadow: 3px 3px #437D5A;
    }





    /*SPLASH PAGE ENDS*/

    /*WELCOME PAGE STARTS*/

    #welcomemap {
        width: 50%;
        padding-left: 20px;
    }



    #welcometitle {
        color: #FFD832;
        font-size: 45px;
        margin-top: -10px;
        font-family: Roboto;
    }
    
    

    #welcometitle em {
        font-family: "Yumaro";
        font-style: normal;
    }

    .welcomecontent {
        font-size: 15px;
        line-height: 1.4;
        text-align: justify;
    }

    #hello {
        font-size: 80px;
        text-shadow: 7px 7px #437D5A;
        padding-top: 10%;
    }




    /*WELCOME PAGE ENDS*/

    /*GAMES PAGE STARTS*/

    #first {
        color: #FFD832;
        margin-top: -10px;
        margin-bottom: -10px;
    }

    .section {
        width: 40%;
        position: relative;
        display: inline-block;
        padding: 10px;
    }

    .section img {
        width: 100%;
        border-radius: 10px;
    }

    .back {
        background-color: transparent;
        border: none;
        color: #C42EAC;
        border-radius: 10px;
        font-family: "Yumaro";
        height: 40px;
        width: auto;
        font-size: 70px;
        position: absolute;
    }

    nav {
        display: flex;
        flex-direction: row;
    }


    nav div {
        margin-left: auto;
        margin-right: auto;
    }


    .title {
        text-shadow: 5px 6px #437D5A;
        font-size: 60px;
        margin-bottom: 10%;
        margin-top: 6%;
    }

    .heading {
        color: #437D5A;
        font-size: 40px;
        margin-top: -30px;
        position: relative;
    }

    #first {
        color: #FFD832;
        display: block;
        font-size: 50px;
        font-weight: 400;
        margin-top: 10%;
        margin-bottom: -20px;
    }

    #second {
        display: block;
        font-family: "Yumaro";
        margin-bottom: -10px;
        font-size: 40px;
    }

    .heading2 {
        text-align: center;
    }

    /*GAMES PAGE ENDS*/

    /*MISSION PAGE STARTS*/

    .mission {
        color: #FFD832;
        text-align: left;
        display: block;
        font-size: 50px;
        padding-left: 10%;
        margin-top: 10%;

    }


    hr {
        float: left;
        width: 30%;
        margin-top: -45px;
        border: 3px solid #FFD832;
        margin-left: 10%;
    }

    .mission2 {
        display: block;
        font-family: "Yumaro";
        font-size: 40px;
        margin-top: -15px;
        margin-bottom: -45px;
    }

    .game {
        width: 80%;
        position: relative;
        display: inline-block;
    }

    .game img {
        width: 100%;
        border-radius: 10px;
    }

    .description {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        border: none;
        padding: 10px;
        font-family: "Roboto";
        color: #FFD832;
        text-align: justify;
    }

    .mission3 {
        text-align: center;
    }





    /*MISSION PAGE ENDS*/

    /*INSTRUCTIONS PAGE STARTS*/


    #instructions p {
        vertical-align: middle;
    }

    .v {
        float: left;
        width: 8%;
        height: 8%;
        padding: 10px;
    }

    #stickers img {
        width: 10%;
        height: 10%;
    }

    #stickers {
        padding-top: 5%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }


    .headline img {
        width: 50px;
        float: left;
        padding-right: 30px;
    }

    .headline h1 {
        font-size: 55px;
        font-family: "Roboto";
        margin: 0;

    }

    .headline {
        display: inline-block;
        width: 100%;
    }

    .descriptiontwo img {
        width: 90px;
        padding: 10px;
        vertical-align: middle;

    }

    .descriptiontwo {
        padding-left: 55px;
    }

    .descriptiontwo p {
        float: left;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 30px;

    }


    /*INSTRUCTIONS PAGE ENDS*/

    /*QUESTIONS PAGE STARTS*/

    #number {
        font-size: 150px;
        text-shadow: 15px 15px #437D5A;
        font-family: "Yumaro";
        padding-left: 30px;
        padding-right: 20px;
    }

    #map {
        width: 8%;
    }

    #help {
        text-align: right;
    }

    #help em {
        color: #FFD832;
        font-style: normal;
        font-weight: 500;
    }

    #help img {
        padding: 10px;
        padding-top: 0;
    }


    #question {
        display: flex;
        flex-direction: row;
    }

    #question p {
        font-size: 50px;
        text-align: left;
        margin: 10px;
        font-weight: bold;
    }

    #bird {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 3%;
    }

    #stickers {
        display: inline-block;
        margin-top: 5%;
        align-content: center;
        width: 100%;
        text-align: center;

    }

    #stickers img {
        width: 12%;
        height: 12%;
        padding: 5px;
    }

    #circle {
        width: 20%;
        margin-top: 10%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }


    /*QUESTIONS PAGE ENDS*/

}
